pypdf
langchain
chromadb # Vector storage
pytest
boto3
fastapi
langchain_community
pymupdf
langchain_ollama
langchain_chroma
deepeval
nltk
llama-index-llms-ollama
llama-index
llama-index-embeddings-ollama
